@font-face {
  font-family: 'Tajawal';
  src: url('/fonts/Tajawal-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body, html {
  font-family: 'Tajawal', Arial, sans-serif;
  background: #f5f6fa;
}

body {
  margin: 0;
  color: #222;
}

.container, main {
  max-width: 1280px;
}

.container {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #222;
} 